.color::after {
    color: none; 

}

.color::before {
    color: black;
}

.navbar-link .navbar-nav .navbar-light{
    color: black; 
}

Nav.Link {
    color:black; 
}

.navbar-container{
    display:flex; 
    justify-content:space-between; 
    flex: 1; 
}

.adjustment{
    display:flex; 
    justify-content: flex-end
}